fastapi
uvicorn[standard]
python-multipart
httpx
requests
chromadb
pydantic
torch
transformers
pillow
sentence-transformers
langchain-openai
SPARQLWrapper
pyyaml
linkml
thefuzz
pypdf
python-dotenv
pymupdf4llm
langfuse
simplemma
nltk

# Testing
pytest
pytest-asyncio
respx
