fastapi
uvicorn[standard]
python-multipart
httpx
requests
chromadb
pydantic
torch
transformers
pillow
sentence-transformers
openai
SPARQLWrapper
pyyaml
linkml
thefuzz
pypdf
python-dotenv

# Testing
pytest
pytest-asyncio
respx
